@import 'variables';

@keyframes rise {
    from {height: 0px;}
}

#chart {
    position: relative;
    height: 20rem;
    box-sizing: border-box;
    width: 30%;
    min-width: 350px;
    border-bottom: 2px solid $palette-cyan;
    margin-top: 3rem;

    .bottom {
        position: absolute;
        bottom: 0;
        width: 95%;
    }

    .bars {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    
    .bar {
        width: 2rem;
        box-shadow: 5px 10px 10px 4px black;
    }
    
    .orange-bars {
        margin-left: 1rem;
        .bar {
            animation-name: rise;
            animation-duration: 2s;
            background-color: #ffa500;
            height: 10rem;
        }
        
        .bar:not(:first-child) {
            margin-left: 10%;
        }
    }
    
    .blue-bars {
        .bar {
            background-color: rgb(0, 255, 255);
            height: 20rem;
            animation-name: rise;
            animation-duration: 3s;
        }

        .bar:not(:first-child) {
            margin-left: 10%;
        }
    }

    .yellow-bars {
        margin-left: 2rem;
        .bar {
            background-color: yellow;
            height: 5rem;
            animation-name: rise;
            animation-duration: 1s;
        }

        .bar:not(:first-child) {
            margin-left: 10%;      
        }
    }
}
