$palette-cyan: #1bc09e;
    $palette-cyan-dark: #169a7e;
    $palette-cyan-darker: #10735f;
    $palette-cyan-x-dark: #0b4d3f;
    $palette-cyan-xx-dark: #052620;
$palette-white: #f4f4f4;
$palette-gray: #515151;
$palette-black: #191919;

$chart-red: #9B1118;
$chart-blue: #131C34;
$chart-yellow: #955D25;